@charset "UTF-8";
/* 기본적으로 적용되는 여백제거*/
*{ padding: 0; margin: 0; border: 1px solid red; }
a{ text-decoration: none; color: black }
a:hover{ color: gray; }
/* 식별자 : 꾸미기대상 
	1. *{} : 모든 대상 
	2. 태그명{} : 해당 태그 
	3. .class : 해당 클래스명 [ 여러번 사용 ]
	4. #id : 해당 id명 [ 1번 사용 ]
		우선순위 id > class > 태그 > *
*/

/*------------------------- 헤더 ------------------ */
#header{ /* #id명 */
	width: 1200px;	/* 가로길이 */
	height: 100px;	/* 세로길이 */
	margin: 0 auto;	/* 박스권 가운데정렬 */
} 
.logobox{ float: left; margin: 20px 0 0 20px; }	/* 박스권 왼쪽배치 */
.menus{ float: right; }		/* 박스권 오른쪽배치 */
.top_menu{ text-align: right; margin-top: 20px; }
.main_menu{ margin-top:20px; font-size: 20px; }
.main_menu li{ display: inline; margin-left: 80px; }

/* --------------------- 메인이미지 ---------------------- */ 
#main_img{
	clear : both; /* 앞태그에서 사용되는 float 제거 */
	width: 100%; height: 250px;
	background-image: url("img/main_img.png");
	background-repeat: no-repeat; /* 자동채우기 제거 */
	background-position: top center; /* 박스권 배경 이미지 정렬 */
	margin: 20px; 
}
/* --------------------- 본문 ---------------------- */ 

























